# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env
*.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# SEC downloaded filings
backend/data/sec-edgar-filings/
backend/sec-edgar-filings/

# Logs
*.log

# Python test/cache
.pytest_cache/
.coverage
htmlcov/
